.contacts {
    padding: 50px 0 0;
    text-align: center;

    &__title {
        margin-bottom: 45px;
        padding: 0 20px;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
    }

    &__box {
        padding: 0 20px 40px;
    }

    &__item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        margin-bottom: 13px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }

    &__text {
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        color: $danger-color;
    }

    &__map {
        height: 200px;
        position: relative;

        &::before {
            content: "";
            width: 320px;
            height: 30px;
            border-left: 160px solid transparent;
            border-right: 160px solid transparent;
            border-top: 30px solid #fff;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}

@media (min-width: 660px) {
    .contacts {
        &__title {
            margin-bottom: 50px;
            padding: 0 60px;
            font-size: 40px;
            line-height: 54px;
        }

        &__box {
            padding: 0 50px 40px;
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }

        &__item {
            &_centering {
                margin: 0 auto;
            }
        }

        &__map {
            height: 374px;

            &::before {
                width: 660px;
                height: 50px;
                border-left: 330px solid transparent;
                border-right: 330px solid transparent;
                border-top: 50px solid #fff;
            }
        }
    }
}

@media (min-width: 1200px) {
    .contacts {
        &__title {
            margin-bottom: 60px;
            font-size: 50px;
            line-height: 64px;
        }

        &__box {
            padding: 0 50px 40px;
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
        }

        &__item {
            &_centering {
                margin: 0;
            }

            &_last-position {
                order: 1;
            }
        }

        &__map {
            height: 502px;

            &::before {
                width: 1200px;
                height: 100px;
                border-left: 600px solid transparent;
                border-right: 600px solid transparent;
                border-top: 100px solid #fff;
            }
        }
    }
}
