.information {
    padding-top: 46px;
    text-align: center;

    &__title {
        padding: 0 20px;
        margin-bottom: 70px;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;

        &_indent {
            display: block;
            margin-top: 20px;
        }
    }

    &__box-advantages {
        padding: 53px 20px 325px;
        background-color: $default-color;
        background-image: url(../img/iphone-screen-mobile@1x.png);
        background-repeat: no-repeat;
        background-position: center bottom -40px;
        background-size: 157px 320px;
    }

    &__item-advantages {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__subtitle-advantages {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }

    &__text-advantages {
        color: #283645;
    }

    &__box-effect {
        display: none;
    }
}

@media (min-resolution: 2dppx) {
    .information {
        &__box-advantages {
            background-image: url(../img/iphone-screen-mobile@2x.png);
        }
    }
}

@media (min-width: 660px) {
    .information {
        padding-top: 58px;

        &__title {
            padding: 0 36px;
            margin-bottom: 70px;
            font-size: 40px;
            line-height: 54px;

            &_indent {
                margin-top: 0;
                padding: 0 20px;
            }
        }

        &__box-advantages {
            padding: 0 20px 0 330px;
            background-color: $default-color;
            background-image: none;
            text-align: left;
            position: relative;

            &::after {
                content: "";
                width: 268px;
                height: 481px;
                background-image: url(../img/iphone-screen-3-tablet@1x.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 268px 481px;
                position: absolute;
                top: -75px;
                left: 20px;
            }
        }

        &__item-advantages {
            margin-bottom: 33px;
            &:last-child {
                padding-bottom: 46px;
            }
        }

        &__box-effect {
            display: block;
            padding: 102px 20px 15px 330px;
            text-align: left;
            position: relative;

            &::before {
                content: "24";
                width: 202px;
                height: 202px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Open Sans";
                font-weight: 700;
                font-size: 96px;
                color: $danger-color;
                border: 16px solid $danger-color;
                border-radius: 50%;
                position: absolute;
                bottom: 18px;
                left: 38px;
                z-index: 2;
            }
        }

        &__title-effect {
            margin-bottom: 10px;
            width: 168px;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
        }

        &__text-effect {
            margin-bottom: 10px;
        }

        &__link-effect {
            color: $danger-color;
            text-decoration: underline;
            transition: 0.2s;

            &:hover {
                color: #283645;
            }

            &:active {
                color: #283645;
                opacity: 0.3;
            }
        }

        &__icon-effect {
            position: absolute;
            bottom: 0;
            left: 20px;

            &_desktop {
                display: none;
            }
        }
    }

    @media (min-resolution: 2dppx) {
        .information {
            &__box-advantages {
                &::after {
                    background-image: url(../img/iphone-screen-3-tablet@2x.png);
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .information {
        padding-top: 77px;

        &__title {
            padding: 0 210px;
            margin-bottom: 100px;
            font-size: 50px;
            line-height: 60px;

            &_indent {
                padding: 0 40px;
            }
        }

        &__box-advantages {
            padding: 0 130px 59px;
            text-align: center;
            display: flex;

            &::after {
                display: none;
            }
        }

        &__item-advantages {
            width: 300px;
            margin-right: 20px;
            padding: 250px 24px 0;
            margin-bottom: 0;
            position: relative;
            &:last-child {
                padding-bottom: 0;
                margin-right: 0;
            }

            &::before {
                content: "";
                width: 292px;
                height: 302px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 292px 302px;
                position: absolute;
                top: -70px;
                left: 0;
            }

            &_img-1 {
                &::before {
                    background-image: url(../img/iphone-screen-1-desktop@1x.png);
                }
            }

            &_img-2 {
                &::before {
                    background-image: url(../img/iphone-screen-2-desktop@1x.png);
                }
            }

            &_img-3 {
                &::before {
                    background-image: url(../img/iphone-screen-3-desktop@1x.png);
                }
            }
        }

        &__subtitle-advantages {
            margin-bottom: 20px;
            font-size: 30px;
            line-height: 30px;
        }

        &__text-advantages {
            font-size: 18px;
            line-height: 30px;
        }

        &__box-effect {
            padding: 115px 166px 115px 500px;
            background: $default-color;

            &::before {
                width: 252px;
                height: 252px;
                font-size: 120px;
                border: 18px solid $danger-color;
                bottom: 90px;
                left: 154px;
            }
        }

        &__title-effect {
            margin-bottom: 30px;
            width: auto;
        }

        &__text-effect {
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 30px;
        }

        &__link-effect {
            font-size: 18px;
        }

        &__icon-effect {
            position: absolute;
            bottom: 67px;
            left: 131px;

            &_tablet {
                display: none;
            }

            &_desktop {
                display: block;
            }
        }
    }

    @media (min-resolution: 2dppx) {
        .information {
            &__item-advantages {
                &_img-1 {
                    &::before {
                        background-image: url(../img/iphone-screen-1-desktop@2x.png);
                    }
                }

                &_img-2 {
                    &::before {
                        background-image: url(../img/iphone-screen-2-desktop@2x.png);
                    }
                }

                &_img-3 {
                    &::before {
                        background-image: url(../img/iphone-screen-3-desktop@2x.png);
                    }
                }
            }
        }
    }
}
