.nav {
    &__list {
        display: flex;
        flex-flow: column;
        align-items: center;
        background: #283645;
    }

    &__item {
        width: 100%;
        border-top: 1px solid #485461;
        border-bottom: 1px solid #000;
    }

    &__link {
        display: block;
        padding: 25px 0;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        transition: 0.2s;

        &:hover {
            color: $danger-color;
        }

        &:active {
            color: $danger-color;
            opacity: 0.3;
        }
    }
}

@media (min-width: 1200px) {
    .nav {
        &__list {
            flex-flow: row;
            justify-content: space-between;
            background: none;
        }

        &__item {
            border-top: none;
            border-bottom: none;
            margin-right: 80px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            padding: 0;
            font-weight: 400;
            text-transform: none;
        }
    }
}
