.social {
    display: flex;

    &__link {
        margin-right: 15px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #e9ebec;
        border-radius: 50%;
        transition: 0.2s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-color: #283645;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__icon {
        fill: $danger-color;
    }
}
