.tariff {
    &__wrap {
        padding: 80px 20px 40px;
        background: $default-color;
        overflow: hidden;
    }

    &__table {
        width: 840px;
        margin-bottom: 40px;
        position: relative;
        left: -280px;
        transition: 0.3s;
    }

    &__header-cell {
        padding: 20px 0 16px;
        background: #283645;
        border-right: 2px solid $default-color;
        text-align: center;

        &:first-child {
            display: none;
        }

        &:last-child {
            border-right: none;
        }

        &_hit {
            position: relative;
            overflow: hidden;
            &::before {
                content: "хит";
                width: 100px;
                height: 20px;
                font-family: "Open Sans";
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #fff;
                text-align: center;
                background: $danger-color;
                position: absolute;
                transform: rotate(-45deg);
                top: 10px;
                left: -30px;
            }
        }
    }

    &__subtitle {
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase;
        color: #fff;
    }

    &__price {
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        color: #fff;
    }

    &__cell {
        padding: 0 20px;
        height: 59px;
        vertical-align: middle;
        border: 2px solid #e5e5e5;
        position: relative;

        &:first-child {
            display: none;
        }
    }

    &__text {
        text-transform: uppercase;
    }

    &__icon {
        position: absolute;
        right: 20px;
    }

    &__wrap-btn {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 660px) {
    .tariff {
        &__table {
            width: 620px;
            margin-bottom: 30px;
            left: 0;
        }

        &__header-cell {
            width: 152px;

            &:first-child {
                display: table;
            }
        }

        &__cell {
            width: 152px;
            padding-left: 15px;

            &:first-child {
                display: table-cell;
            }
        }

        &__text {
            display: none;
        }

        &__icon {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__wrap-btn {
            display: none;
        }
    }
}
