/* Vars:
   ========================================================================== */
$text-color: #000;

$width-tablet: 660px;
$width-desktop: 1200;

// Main color

$danger-color: #d22856;
$danger-color-pressed: rgba(210, 40, 86, 0.3);
$default-color: #f2f2f2;

$primary-color: #444ce0;
$success-color: #26de81;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
